---
layout: job_page
title: "Demand Generation Specialist"
---

## Responsibilities

* Own the marketing funnel for our GitLab on-premises offerings (GitLab CE and GitLab EE).
From top of the funnel to our already existing customers, your role is to increase conversion and volume.
* Engage with the Director of Demand Generation to build the marketing team in accordance with the values of GitLab.
* Implement creative and effective ideas for bringing new leads into the funnel through online campaigns, channel marketing,
technical webcasts, non-spammy email campaigns, etc.
* Create a better experience online so that it is easy for our enterprise customers to upgrade from GitLab CE to EE easily.
* Work with our super smart sales team to create the proper follow-up materials for our customers interested in GitLab Enterprise Edition.
* Collaborate with sales to develop channel marketing and partner marketing strategy for increasing demand through partnerships.
* Familiar with or ready to learn Marketo, Hubspot, and/or Pardot to help the team manage leads, email campaigns, and analytics.
Not afraid to dig around in data to help create reports for the team meetings. Comfortable being a self-taught marketing automation master.
* Work with sales operations to make sure the leads flowing from our marketing automation software to Salesforce are correct and timely.
* Work with sales to make sure the proper reports are generated in order to track leads.

## Requirements

## Hiring Process

<%= partial "includes/apply_and_about" %>
