---
layout: job_page
title: "Developer Marketing Manager"
---

## Responsibilities

* Promote developer community and share stories about how developers are using GitLab to improve collaboration and code quality around the world.
* Produce a twice monthly newsletter for the GitLab developer community.
* Organize and facilitate community events.
* With with the team of engineers to create technical content such as tutorials, blog posts, screencasts, webinars, etc.
* Develop and distribute swag for the community that is fun, engaging and which our community will love.
* Communicate technical features and benefits with non-technical users, decision makers and our own sales team.
* Analyse and evaluate promotion and programs to make recommendations and improvements.
* Our current ideas are detailed on our [developer marketing page](https://about.gitlab.com/handbook/marketing/developer-marketing/).

## Requirements

## Hiring Process

<%= partial "includes/apply_and_about" %>
